<div class="upload-page">
    <div class="file-info">
      <mat-form-field>
        <mat-label>File</mat-label>
        <input matInput [readonly]="true" type="text" [value]="this.file">
      </mat-form-field>
      <button 
        mat-raised-button 
        color="primary"
        style="margin-left: 1rem;"
        (click)="onBrowse()"
      >Browse</button>
    </div>
    <button 
      mat-raised-button 
      [disabled]="!file || uploading" 
      color="primary"
      (click)="onUpload()"
    >Upload</button>
    <mat-progress-bar
      *ngIf="uploading"
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-bar>
    <h4 *ngIf="uploaded">
      Upload complete!
    </h4>
</div>